.content{
    height: 100vh;
    padding: 0em 3em;
}
.board{
    display: grid;
    grid-template-rows: 1fr 3fr 1fr;
    height: 700px;
}
.cards{
    display: flex;
}
.menu{
    padding: 1em;
}
.battle{
    min-width: 70%;
    min-height: 80%;
}
.atut{
    width: 3em;
    height:3em;
}
.row{
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardsLeft{
    padding-left: 50px;
}
.card{
}
.board{

}