{% extends "layout.jinja2" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="board">
        <div class="p2 row">
            <div class="cards cards--p2">

            </div>
            <div class="cardsLeft"></div>
        </div>
        <div class="battle row">
            <div class="menu"></div>
            <div class="battle"></div>
            <div class="atut"></div>
        </div>
        <div class="p1 row">
            <div class="cards cards--p1"></div>
        </div>
{#        <div class="card">#}
{#            <div class="card__img">#}
{#                <img src="{{ url_for('static', filename='cards_images/' + card.img) }}" alt="">#}
{#            </div>#}
{#        </div>#}
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}