{% extends "layout.jinja2" %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% endblock %}

{% block content %}
    <div class="board">
        <div class="p2 row">
            <div id="JS-p2" class="cards cards--p2">

            </div>
            <div id="JS-cardsLeft" class="cardsLeft"></div>
        </div>
        <div class="battle row">
            <div class="menu">
                <button id="JS-reset" class="menu__btn">reset game</button>
                <button id="JS-computer" class="menu__btn">vs computer</button>
                <button id="JS-take" class="menu__btn">take</button>
                <button id="JS-pass" class="menu__btn">pass</button>
            </div>
            <div class="battle">
                <div id="JS-battle__p2" class="cards"></div>
                <div id="JS-battle__p1" class="cards"></div>
            </div>
            <div id="JS-atut" class="atut"></div>
        </div>
        <div class="p1 row">
            <div id="JS-p1" class="cards cards--p1">

            <div class="card">
                <div class="card__img">
                    <img src="/static/cards_images/6C.png" alt="">
                </div>
            </div>

            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{{ url_for('static', filename='game.js') }}"></script>
{% endblock %}